<%- include('header') -%>
    <title>Budgtr</title>
            <style>
        <% console.log(typeof bankAccount) %>
        <% console.log(bankAccount)%>
                <% if (bankAccount > 0){%>
                     body{ 
                background-color: #B3E8E5};
         <% } else{ %>
           body{ 
                background-color: #FFA8A8 }
         <% } %>
        </style>

</head>
<body>
    <!-- new header -->
<br>
     <div class="container">
        

        Bank Account: <%= bankAccount %>
         <br>
         <a href="/budgets/new"><button>Make New Entry</button></a>

<h1>Budgtr ALL</h1>
<table>
      <tr>
    <th>Date</th>
    <th>Name</th>
    <th>From</th>
    <th>Amount</th>
    <th>Tags</th>
  </tr>

  <% for(let i = 0; i < Budget.length; i++){  %>
<tr>
    <td><%=Budget[i].date%></td> 
     <td><a href="/budgets/<%=i%>"><%=Budget[i].name%></a></td> 
     <td><%=Budget[i].from%></td> 
     <td><%=Budget[i].amount%></td> 
     <td><%=Budget[i].tags %></td> 
  </tr>
  <% } %>
  
</table> 

</div>


<%- include('footer') -%>
