<%- include('header') -%>
    <title>Budgtr</title>

</head>
<body>
    <!-- new header -->

<div class="container">
    <h2><%= Budget.name %></h2>
    <a href="/budgets"><button> Go back</button></a>
  
    <p>date<h5><%= Budget.date %></h5></p>
    <p>from<h5><%= Budget.from %></h5></p>
    <p>amount<h5><%= Budget.amount %></h5></p>
    <p>tags<h5><%= Budget.tags %></h5></p>
  

</div>


<%- include('footer') -%>
